@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Anaheim';
        font-display: swap;
        font-style: normal;
        font-weight: 400 800;
        src:
            local("Anaheim"),
            url('~/assets/fonts/Anaheim-VariableFont_wght.ttf') format('truetype'),
            url('~/assets/fonts/Anaheim-VariableFont_wght.woff2') format("woff2")
        ;
    }

    @font-face {
        font-family: 'Ubuntu Sans';
        font-display: swap;
        font-style: normal;
        font-weight: 100 800;
        font-stretch: 75% 100%;
        src:
            local("Ubuntu Sans"),
            url('~/assets/fonts/UbuntuSans-VariableFont_wdth,wght.ttf') format('truetype'),
            url('~/assets/fonts/UbuntuSans-VariableFont_wdth,wght.woff2') format("woff2")
        ;
    }

    @font-face {
        font-family: 'Ubuntu Sans';
        font-display: swap;
        font-style: italic;
        font-weight: 100 800;
        font-stretch: 75% 100%;
        src:
            local("Ubuntu Sans"),
            url('~/assets/fonts/UbuntuSans-Italic-VariableFont_wdth,wght.ttf') format('truetype'),
            url('~/assets/fonts/UbuntuSans-Italic-VariableFont_wdth,wght.woff2') format("woff2")
        ;
    }

    body, html {
        @apply h-screen;
    }

    body {
        @apply antialiased bg-primary text-secondary;
    }
}